<app-navbar [onBoard]="true"></app-navbar>
<div *ngIf="hasAlert" class="mx-16 my-2 bg-indigo-200 border-indigo-400 border-solid border rounded-lg text-indigo-900">
  <div class="flex w-full p-4 justify-between items-center">
    <p class="mx-4">
      {{alertMsg}}
    </p>
    <a class="mx-4 cursor-pointer" (click)="closeAlert()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-5 h-5 bi bi-x-lg" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
      </svg>
    </a>
  </div>
</div>

<div class="mx-4 my-2">
  <div (click)="changeDropdownStatus()" class=" mx-8 flex items-center flex-wrap w-fit flex-row cursor-pointer rounded-md px-2 py-1 hover:bg-slate-300 text-slate-500">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="w-5 h-5 bi bi-funnel" viewBox="0 0 16 16">
      <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
    </svg>
    <p>Filters</p>
  </div>
  <div *ngIf="dropdownActive" class="dropdown z-10">
    <form class="m-4" [formGroup]="filterForm" (ngSubmit)="onSubmit()">
<!--      <label for="sortBy" class="block mb-2 text-sm font-semibold">Sort by</label>-->
<!--      <select id="sortBy"-->
<!--              class="mb-4 bg-slate-100 border border-slate-400 text-sm rounded-md block w-full p-2"-->
<!--              formControlName="sortBy">-->
<!--        <option *ngFor="let sortOpt of sortList" [value]="sortOpt.value" >{{sortOpt.name}}</option>-->
<!--      </select>-->
      <label for="user" class="block mb-2 text-sm font-semibold">View only tickets of</label>
      <select id="user"
              class="mb-4 bg-slate-100 border border-slate-400 text-sm rounded-md block w-full p-2"
              formControlName="user">
        <option [value]="-1" >All users</option>
        <option *ngFor="let user of users" [value]="user.id" >{{user.name}}</option>
      </select>
      <div class="flex justify-start  ">
        <button type="submit"
                class="mb-4 text-white rounded-lg px-2 py-2 mr-4 bg-indigo-400 hover:bg-indigo-500">
          Filter
        </button>
        <button type="button" (click)="onClear()"
                class="mb-4 text-stone-50 rounded-lg px-2 py-2 mr-4 bg-slate-400 hover:bg-slate-500">
          Clear
        </button>
      </div>
    </form>
  </div>
  <div class="my-2 flex flex-wrap flex-row gap-x-2 justify-center min-w-screen" cdkDropListGroup>
    <div *ngFor="let column of columns" class="h-[34rem] rounded-md bg-stone-200 w-[75%] sm:w-[45%] md:w-[23%] lg:w-[22%] mb-2 overflow-scroll">
      <app-board-column [status]="column" [columnTickets]="getColumn(column)"></app-board-column>
    </div>
  </div>
</div>
