<h3 class="text-xl text-indigo-400 text-center">Create new User</h3>
<form class="m-4" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label for="newUser" class="block mb-2 text-sm font-semibold">User</label>
  <input id="newUser" formControlName="newUser" class="mb-4 bg-slate-100 border border-slate-400 text-sm rounded-md block w-1/3 p-2" placeholder="User">
  <button type="submit"
          [disabled]="!userForm.valid"
          class="mb-4 text-white rounded-lg px-2 py-2 mr-4 {{userForm.valid ? 'bg-indigo-400 hover:bg-indigo-500' : 'bg-slate-400 hover:cursor-not-allowed'}}">
    Create User
  </button>
</form>
